@font-face {
    font-family: Titillium;
    src: url('Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
}
* {
    font-family: Titillium;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    height: 100%;
}
.nav {
    width: 100%;
    background-color: black;
}
.nav ul {
    list-style-type: none;
    overflow: hidden;
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
button {
    border: none;
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.wrapper {
    width: 96%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.historyContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.33%;
    padding-top: 15pt;
    padding-bottom: 15pt;
    background-color: rgba(0, 0, 0, .1);
}
.historyContainer button {
    margin: auto;
    margin-top: 5pt;
    width: 40%;
}
.circlesContainer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 15pt;
    padding-right: 15pt;
    padding-top: 15pt;
    padding-bottom: 15pt;
}
.historyCircle {
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 5pt;
}
.fa-book-open {
    line-height: 50px;
    color: rgba(0, 0, 0, .3);
}
.historyEntryContainer {
    padding-top: 15pt;
    padding-bottom: 15pt;
    padding-left: 15pt;
    padding-right: 15pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
    background-color: white;
    display: none;
    white-space: pre-wrap;
}
.historyEntryBody {
    position: relative;
    margin-top: 10px;
}
.mainContainer {
    display: inline;
    flex-direction: column;
    text-align: center;
    width: 33.33%;
    padding-bottom: 15pt;
}
.chartContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.33%;
    padding-top: 15pt;
    padding-bottom: 15pt;
    background-color: rgba(0, 0, 0, .1);
}
.rangeDatePickerContainer {
    padding-top: 10pt;
    padding-bottom: 10pt;
    display: flex;
    flex-direction: column;
}
.rangeDatePicker {
    margin: auto;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
}
.rangeDatePickerTitle {
    font-size: 13px;
}
.genderChartsContainer {
    padding-right: 20pt;
    padding-left: 20pt;
}
.logSectionContainer {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: auto;
}
.logTextArea {
    resize: none;
    margin-bottom: 15pt;
}
.circle {
    height: 50px;
    width: 50px;
    background-color: #00000000;
    border-radius: 50%;
    display: inline-block;
}
.currentCircleContainer {
    margin-top: 20pt;
    margin-bottom: 20pt;
}
.tooltip {
    position: relative;
    display: inline-block;
    border: 0.2px solid rgba(0, 0, 0, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    width: max-content;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    top: -5px;
    left: 105%;
    z-index: 1;
  }
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 15%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .percentageContainer {
    padding-top: 5pt;
    padding-bottom: 5pt;
    background-color: grey;
    margin-top: 10pt;
}
.genderLabel {
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 10px;
}
input[type=range]{
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 200px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}
::-webkit-slider-runnable-track {
    background: rgb(175, 175, 175);
}
::-moz-range-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: rgb(175, 175, 175);
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #999;
}
input[type=range]::-moz-range-thumb {
    border: 2px solid #999;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 0px;
    cursor: pointer;
}
input[id=feminineRange]::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw #ff0000;
}
input[id=feminineRange]::-moz-range-thumb {
    box-shadow: -100vw 0 0 100vw #ff0000;
}
input[id=masculineRange]::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw #0000ff;
}
input[id=masculineRange]::-moz-range-thumb {
    box-shadow: -100vw 0 0 100vw #0000ff;
}
input[id=nonBinaryRange]::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw #00ff00;
}
input[id=nonBinaryRange]::-moz-range-thumb {
    box-shadow: -100vw 0 0 100vw #00ff00;
}
input[id=senseOfGenderRange]::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw #777777;
}
input[id=senseOfGenderRange]::-moz-range-thumb {
    box-shadow: -100vw 0 0 100vw #777777;
}